<html>
<head>
  <title>highlights</title>
</head>
<body>
  <h1>Create CSV file from your Kindle Highlights</h1>
  <h3>Enter your Amazon login details: </h3>
  <form action="/form" method="post">
    Email: <input type="text" name="email"><br>
    Password: <input type="password" name="password"><br>
    <br>
    <input type="submit" value="Get your file">
  </form>
</body>
</html>